# SPDX-FileCopyrightText: © 2024 Kim Eun-su <eunsu0402@gmail.com>
# SPDX-License-Identifier: LGPL-3.0-linking-exception

.idea
.reuse
.cache
build
cmake-build-*/
module/juce/
py_test/
py_test/venv/
py_test/.idea/
.vs
.editorconfig
secret.h
.DS_Store
